html { 
  background: url("../images/lantern.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home{
    width: 100%;
    background-color:  rgb(255, 255, 255);
    height: 100%;
    top: 30%;
    margin-top: -50px;
    margin-left: -8px;
    position: absolute;
}

.banner{
  margin-top: -10%;
  font-size: 5vw;
  color: white;
  text-align: center;
}