html,body { 
  background: url("../images/lantern.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 99%;
  height: 100%;
}

.banner{
  margin-top: 20px;
  font-size: xx-large;
  color: white;
  text-align: center;
} 

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1000px 800px 800px;
  gap: 100px 0px;
  grid-template-areas: "Home" "Menu" "Contact";
  background-color:white;
  height: auto;
  width: 1500px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  align-items: flex-start;
  
}

.Home { 
  grid-area: Home; 
  height: auto;
}

.Menu { 
  grid-area: Menu; 
}

.Contact { 
  grid-area: Contact; 
  height: 100%;
}