.container {
    width: 100%;
    height: 400px;
    background: white;
    margin-top: 200px;
  }
  
  .afhaal {
    width: 650px;
    height: 400px;
    background: red;
    float: left;
    color: white;
    margin-left: 10%;

  }
  
  .restaurant {
    margin: auto;
    width: 650px;
    height: 400px;
    background-image: url("../images/restaurant.jpg");
    background-size: 100% 100%;
    color: white;
    margin-left: 55%;
  }

  div{
    text-align: center;
    vertical-align: middle;
  }