.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 100px;
  grid-template-areas: "afhaal restaurant";
  width: 100%;
  height: 600px;
  }

.afhaal { 
  grid-area: afhaal; 
 background-image: url("../images/restaurant.jpg");
 background-size: 100% 100%;
 color: white;
 text-align: center;
 padding-top: 150px;
 font-size: xx-large;
 border-radius: 30px;
 margin-left: 50px;
}

.restaurant { 
  grid-area: restaurant;
  color: white;
  background-image: url("../images/hall.jpg");
  background-size: 100% 100%;
  text-align: center;
  padding-top: 150px;
  font-size: xx-large;
  border-radius: 30px;
  margin-right: 50px;
}